# Create IPO Master Table

In [1]:
#import library

import yfinance as yf
import pandas as pd, numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("IPO/ipo_calendar.csv")
df.head()

      IPODate               CompanyName StockCode IPOValue     IPOPrice
0  2019-01-31   New Fortress Energy LLC       NFE   300.0M           15
1  2019-01-31  Pivotal Acquisition Corp     PVT_u   200.0M           10
2  2019-02-28   Super League Gaming Inc      SLGG    27.3M  10.00-12.00
3  2019-02-28      Tortoise Acquisition    SHLL_u   225.0M           10
4  2019-02-27   Kaleido Biosciences Inc      KLDO   104.8M  20.00-22.00

In [3]:
df[df.StockCode.isna()]

         IPODate    CompanyName StockCode IPOValue IPOPrice
1488  2022-07-12  Nano Labs Ltd       NaN    20.4M     11.5

In [4]:
survivors = []

for code in list(df.StockCode.values):
    if type(code) == str:
        if code[-1] != "u":
            survivors.append(code)
            
    # Nano Labs -> NA        
    else:
        # only for Nano Labs
        survivors.append("NA")

survivors

['NFE',
 'SLGG',
 'KLDO',
 'SOLY',
 'MITO',
 'HOTH',
 'TCRR',
 'AVDR',
 'ANCN',
 'BFL',
 'GOSS',
 'HARP',
 'IMAC',
 'ALEC',
 'MNCLU',
 'HHHH',
 'GMHIU',
 'LYFT',
 'DTIL',
 'GNFT',
 'LEVI',
 'INSUU',
 'TIGR',
 'FHL',
 'CRSAU',
 'SWAV',
 'THCBU',
 'DPHCU',
 'HCACU',
 'PINS',
 'ZM',
 'HOOK',
 'GNLN',
 'MNRL',
 'PLMR',
 'BRIN',
 'TPTX',
 'JMIA',
 'PD',
 'TUFN',
 'NGM',
 'JFKUU',
 'SILK',
 'TW',
 'RUHN',
 'IDYA',
 'RTLR',
 'BCYC',
 'GXGXU',
 'AVTR',
 'FSLY',
 'LK',
 'PSTL',
 'APLT',
 'UBER',
 'JFIN',
 'TRVI',
 'NXTC',
 'CRTX',
 'MEC',
 'MIST',
 'AXLA',
 'SONM',
 'SPFI',
 'PSN',
 'SCPL',
 'RRBI',
 'SY',
 'YJ',
 'BYND',
 'TMDX',
 'KRTX',
 'REAL',
 'MORF',
 'CMBM',
 'CHNG',
 'BBIO',
 'ADPT',
 'WORK',
 'PRVL',
 'BCEL',
 'AKRO',
 'PSNL',
 'GO',
 'STOK',
 'FVRR',
 'CHWY',
 'MWK',
 'CRWD',
 'RVLV',
 'DRMT',
 'VIST',
 'BHAT',
 'NOVA',
 'HCAT',
 'PROS',
 'CSTL',
 'LVGO',
 'WSG',
 'FLLCU',
 'DOYU',
 'MIRM',
 'ORCC',
 'FULC',
 'PHR',
 'MDLA',
 'AFYA',
 'IFS',
 'AMK',
 'CFB',
 'JFU',
 'INMD',
 'BIVI',
 'HKIB',
 'DT',
 'KRUS',
 'SNDL',
 'PTON',
 'OPRT',
 'APTXU',
 'DDOG',
 'XGN',
 'PING',
 'NVST',
 'IGMS',
 'NET',
 'STSA',
 'SWTX',
 'ALRS',
 'SDC',
 'TXG',
 'NPAUU',
 'EXPCU',
 'BLU',
 'RAPT',
 'MCMJU',
 'OYST',
 'DUO',
 'TFFP',
 'PHAT',
 'PGNY',
 'AIH',
 'CABA',
 'DAO',
 'HAPP',
 'BRP',
 'ONEW',
 'LATNU',
 'BRBR',
 'HYLT',
 'IPHA',
 'HBT',
 'VIR',
 'BNTX',
 'APRE',
 'FREQ',
 'MCBS',
 'VIE',
 'PTACU',
 'AMHCU',
 'LMPX',
 'SAQNU',
 'PINE',
 'CAN',
 'CHPMU',
 'SITM',
 'YXR',
 'GRNVU',
 'YAYO',
 'CNSP',
 'JIH',
 'YZCM',
 'DFNSU',
 'SRACU',
 'KRKR',
 'ETNB',
 'CNTG',
 'GRTX',
 'GFL',
 'TELA',
 'MOHO',
 'SI',
 'QK',
 'FSRVU',
 'MKD',
 'MNPR',
 'ANPC',
 'INDO',
 'CIICU',
 'HCCOU',
 'BILL',
 'OCFT',
 'SPT',
 'XP',
 'EH',
 'LIVKU',
 'PASG',
 'RVMD',
 'HUIZ',
 'TFII',
 'GNRSU',
 'BEAM',
 'CSPR',
 'NREF',
 'PPD',
 'SDGR',
 'ONEM',
 'ARQT',
 'BDTX',
 'REYN',
 'ANVS',
 'GHIVU',
 'IMAB',
 'VEL',
 'LIZI',
 'DNK',
 'CLEU',
 'ORIC',
 'KROS',
 'WIMI',
 'ZNTL',
 'FLRZ',
 'CGROU',
 'IMRA',
 'DFPHU',
 'LSACU',
 'ACI',
 'BRLIU',
 'EBON',
 'API',
 'AKUS',
 'FUSN',
 'PYPD',
 'RYLT',
 'FMTX',
 'GTH',
 'PROG',
 'RPTX',
 'LTRN',
 'RNA',
 'BNR',
 'GBIO',
 'AZEK',
 'PCVX',
 'UCL',
 'VRM',
 'HECCU',
 'PLRX',
 'WMG',
 'NUZE',
 'LEGN',
 'ZI',
 'AMTI',
 'CALT',
 'DADA',
 'MCACU',
 'FOUR',
 'SLQT',
 'NARI',
 'AYLA',
 'KC',
 'PAICU',
 'PRFX',
 'XPEV',
 'INBX',
 'NNOX',
 'BTAQU',
 'FIIIU',
 'KYMR',
 'LCAPU',
 'DCT',
 'NTST',
 'CVAC',
 'FSDC',
 'BEKE',
 'HRMY',
 'KBNT',
 'IBEX',
 'AFIB',
 'OSH',
 'CMPI',
 'FRLN',
 'GRSVU',
 'KSMTU',
 'HOLUU',
 'BOWXU',
 'HSAQ',
 'FTHM',
 'VERX',
 'GOED',
 'ACEVU',
 'ALVR',
 'VITL',
 'ANNX',
 'ERESU',
 'GRCYU',
 'INZY',
 'ITOS',
 'NRIX',
 'JAMF',
 'MEG',
 'PSACU',
 'EDTK',
 'NCNO',
 'GOCO',
 'RLAY',
 'TIG',
 'ALXO',
 'BLI',
 'MLACU',
 'PAND',
 'RNLX',
 'BLCT',
 'NKTX',
 'QH',
 'IVA',
 'PSTX',
 'TXACU',
 'ACCD',
 'DNB',
 'LMND',
 'GATO',
 'MAX',
 'ROOT',
 'ALGM',
 'BDSX',
 'GLTO',
 'LESL',
 'LU',
 'MVNR',
 'ABST',
 'AVIR',
 'DSACU',
 'GBS',
 'SQZ',
 'DBDRU',
 'LUXAU',
 'MCFE',
 'ABCM',
 'BLSA',
 'FHTX',
 'TEKKU',
 'YGMZ',
 'GWACU',
 'DCRBU',
 'JCICU',
 'JUPW',
 'ARRY',
 'CDAK',
 'MNSO',
 'SPEL',
 'ALGS',
 'EAR',
 'MACUU',
 'OPT',
 'PRAX',
 'TARS',
 'KRBP',
 'FVAM',
 'SQFT',
 'PXMD',
 'AZYO',
 'FUBO',
 'IH',
 'INTZ',
 'KRON',
 'MAACU',
 'NGACU',
 'STTK',
 'SPRB',
 'OTRAU',
 'LCYAU',
 'GLSI',
 'PLTR',
 'ASAN',
 'AVO',
 'ASO',
 'BQ',
 'CD',
 'IMNM',
 'LUNG',
 'YALA',
 'ALTE',
 'CCCC',
 'LXEH',
 'ONCR',
 'QELLU',
 'RCHGU',
 'SYTA',
 'VACQU',
 'FTIVU',
 'AMST',
 'CRSR',
 'GDRX',
 'LSF',
 'BSY',
 'TSHA',
 'GRAY',
 'ORPH',
 'PMVP',
 'PRLD',
 'VIAO',
 'VIHAU',
 'NMMCU',
 'AHACU',
 'FROG',
 'PTVE',
 'SUMO',
 'VTRU',
 'AMWL',
 'BNL',
 'DYN',
 'MTCR',
 'OM',
 'SNOW',
 'STEP',
 'U',
 'JAQCU',
 'ATHA',
 'CMPS',
 'SAIIU',
 'BCACU',
 'CAPAU',
 'SVACU',
 'FTOCU',
 'HKIT',
 'TWCTU',
 'CMLFU',
 'ITACU',
 'BCTG',
 'INAQU',
 'BENEU',
 'MRM',
 'PHAR',
 'VTAQU',
 'OCG',
 'UPST',
 'BCAB',
 'MDWT',
 'WISH',
 'MASS',
 'DUNEU',
 'MRACU',
 'SCPS',
 'BLUWU',
 'WNW',
 'MTACU',
 'SVOKU',
 'VIRI',
 'SCOAU',
 'COOLU',
 'ABNB',
 'DASH',
 'HYFM',
 'PUBM',
 'AI',
 'VVOS',
 'CERT',
 'FDMT',
 'ABCL',
 'EDTXU',
 'NBTX',
 'ALTUU',
 'HMCOU',
 'PTICU',
 'SGAMU',
 'YQ',
 'DCBO',
 'KNTE',
 'SEER',
 'SGTX',
 'SBTX',
 'OZON',
 'SVSVU',
 'MRVI',
 'NGMS',
 'SHC',
 'TLS',
 'YSG',
 'OLMA',
 'PHICU',
 'ARBGU',
 'ZNTEU',
 'DGNS',
 'IKT',
 'CMPX',
 'NOACU',
 'HFEN',
 'TVACU',
 'TSIAU',
 'ADOCU',
 'VEMCU',
 'AVAH',
 'EDR',
 'FTCI',
 'FRF',
 'PRVA',
 'VACC',
 'RNAZ',
 'HOWL',
 'ALF',
 'TUGCU',
 'DV',
 'KNBE',
 'SKYT',
 'PATH',
 'AGTI',
 'SWIM',
 'NPCE',
 'ZY',
 'IMPL',
 'RAIN',
 'TMCI',
 'IFBD',
 'TRKA',
 'ALKT',
 'COIN',
 'AGL',
 'APP',
 'KRT',
 'TSP',
 'AKYA',
 'BMEA',
 'EBET',
 'RXRX',
 'YTPG',
 'EM',
 'CNAQU',
 'ACBAU',
 'CMLTU',
 'RPHM',
 'VECT',
 'BSKYU',
 'PANA',
 'TCVA',
 'UTME',
 'MPACU',
 'COMP',
 'COUR',
 'FRNT',
 'HYW',
 'KARO',
 'ACHL',
 'INTM',
 'AACOU',
 'RMGDU',
 'BLNGU',
 'AFCG',
 'ACVA',
 'CRCT',
 'DOCN',
 'DSEY',
 'SEMR',
 'TDUP',
 'VZIO',
 'ALHC',
 'DSGN',
 'EWTX',
 'IKNA',
 'KVSB',
 'KVSC',
 'LVRX',
 'OLK',
 'ZH',
 'UPC',
 'OLO',
 'SNCY',
 'VEI',
 'CNTB',
 'GANX',
 'GLHAU',
 'NAPA',
 'TUYA',
 'ALPAU',
 'TIL',
 'RACB',
 'MOVE',
 'RBLX',
 'CPNG',
 'FHS',
 'HAYW',
 'JOAN',
 'AGGRU',
 'LBPH',
 'MITC',
 'JWEL',
 'RXDX',
 'OSCR',
 'INNV',
 'KVSA',
 'MACQU',
 'GIIXU',
 'HIIIU',
 'ROCRU',
 'SCR',
 'MSACU',
 'ABGI',
 'NVSAU',
 'PFDRU',
 'ASPCU',
 'LDI',
 'ADAG',
 'APR',
 'BPTS',
 'BMBL',
 'PGRWU',
 'SGFY',
 'DSP',
 'BVS',
 'DBTX',
 'LGVN',
 'NEXI',
 'TLIS',
 'SDH',
 'ATC',
 'EVAX',
 'ONTF',
 'TIXT',
 'LABP',
 'SANA',
 'ANGN',
 'BOLT',
 'IMCR',
 'LHDX',
 'PHVS',
 'SNSE',
 'TERN',
 'VOR',
 'XM',
 'OCDX',
 'SHLS',
 'VINP',
 'AGRF',
 'ZIM',
 'GCACU',
 'HCAQ',
 'HMPT',
 'TIRX',
 'FSSIU',
 'CAHCU',
 'FOREU',
 'DCRNU',
 'BTNB',
 'MNTK',
 'NAACU',
 'DFH',
 'MYTE',
 'PAX',
 'GMBTU',
 'RLX',
 'LEGOU',
 'FOXWU',
 'VOSOU',
 'HUDI',
 'PLTK',
 'AFRM',
 'DRVN',
 'KUKE',
 'MSGM',
 'WOOF',
 'POSH',
 'QLI',
 'BCYPU',
 'AEACU',
 'EACPU',
 'ENVIU',
 'MONCU',
 'TZPSU',
 'SLCRU',
 'FINMU',
 'CGEM',
 'GSAQU',
 'GRCL',
 'KLAQU',
 'PACXU',
 'SVFAU',
 'TMKRU',
 'EPHYU',
 'LWACU',
 'PRSRU',
 'S',
 'DIDI',
 'DNAA',
 'DNAB',
 'DNAC',
 'DNAD',
 'IS',
 'MF',
 'ACXP',
 'FA',
 'CXM',
 'BHG',
 'CFLT',
 'DOCS',
 'YMM',
 'MIRO',
 'TKNO',
 'ELEV',
 'GHRS',
 'GRPH',
 'MCW',
 'GLUE',
 'SSR',
 'GRVI',
 'SHQAU',
 'GPCOU',
 'BON',
 'FTVIU',
 'NLITU',
 'MITAU',
 'TRMR',
 'JUGGU',
 'WKME',
 'AOMR',
 'CNVY',
 'LYEL',
 'MOLN',
 'RERE',
 'AMAM',
 'ATAI',
 'IPSC',
 'DNAY',
 'CYT',
 'FEMY',
 'VERV',
 'TRONU',
 'ISPC',
 'ZTAQU',
 'DILAU',
 'LITTU',
 'LAAAU',
 'MNDY',
 'LFST',
 'MQ',
 'ZETA',
 'DIBS',
 'TASK',
 'JANX',
 'BZ',
 'ZME',
 'SMIHU',
 'HCNEU',
 'SPKAU',
 'BSGAU',
 'ISAA',
 'GACQU',
 'DLO',
 'OTECU',
 'ZIP',
 'FLYW',
 'PAY',
 'FIGS',
 'TWCGU',
 'TWCBU',
 'CNTA',
 'DAWN',
 'OMIC',
 'DYNS',
 'SQSP',
 'OTLY',
 'PCOR',
 'SKYAU',
 'GIWWU',
 'FWAC',
 'MCAEU',
 'CPARU',
 'ARTAU',
 'FLGC',
 'IPW',
 'GLBE',
 'SMWB',
 'VERA',
 'ORIAU',
 'DKDCU',
 'BRIVU',
 'ANEB',
 'FSBC',
 'HNST',
 'BWMN',
 'OG',
 'TALS',
 'VALN',
 'WDH',
 'VLATU',
 'REVEU',
 'CHWAU',
 'GDEV',
 'SWSSU',
 'MEOAU',
 'CCAIU',
 'OXUSU',
 'CENQU',
 'DRMA',
 'AACIU',
 'APMIU',
 'DATS',
 'SSBK',
 'PPHPU',
 'OXACU',
 'TPBAU',
 'PONOU',
 'VCXAU',
 'AHPAU',
 'DWACU',
 'NOVVU',
 'ASPAU',
 'WCGC',
 'WEBR',
 'EWCZ',
 'HCRX',
 'ADGI',
 'ELYM',
 'OCBI',
 'GLEEU',
 'BWCAU',
 'HWELU',
 'CNTQU',
 'HIPO',
 'GXO',
 'RVACU',
 'XPAXU',
 'CPAAU',
 'INAB',
 'MULG',
 'CADL',
 'ELTX',
 'OCEA',
 'ASPG',
 'BTRY',
 'DOLE',
 'DUOL',
 'MLNK',
 'PWSC',
 'RSKD',
 'HOOD',
 'SNPO',
 'ICVX',
 'PRET',
 'RLYB',
 'TEAD',
 'COOK',
 'DALS',
 'IMRX',
 'MXCT',
 'NUVL',
 'OMGA',
 'RANI',
 'RXST',
 'TNYA',
 'SSIC',
 'IMAQU',
 'SWAGU',
 'APTMU',
 'MEACU',
 'LAXXU',
 'ROCGU',
 'KLTR',
 'ZENV',
 'BASE',
 'LAW',
 'GAMB',
 'INST',
 'PYCR',
 'RYAN',
 'VTEX',
 'ZVIA',
 'ABSI',
 'CNM',
 'OB',
 'XPOF',
 'CRBU',
 'CTKB',
 'SOPH',
 'PFTAU',
 'DCRDU',
 'CLOEU',
 'CLAYU',
 'APACU',
 'IINN',
 'BLND',
 'MCG',
 'BRDG',
 'FXLV',
 'PECO',
 'SERA',
 'SGHT',
 'STVN',
 'DYCU',
 'ERAS',
 'IMGO',
 'RPID',
 'TCRX',
 'CLAQU',
 'UPTDU',
 'UNCY',
 'ARYE',
 'GWIIU',
 'SNTG',
 'ATAT_old',
 'LDOC',
 'MITQ',
 'RICOU',
 'ALCC',
 'INTA',
 'IAS',
 'LZ',
 'RGCB',
 'VRAR',
 'VEEE',
 'XMTR',
 'ABOS',
 'AVTE',
 'YOU',
 'CVRX',
 'HEPS',
 'DDL',
 'EVCM',
 'DNUT',
 'NYXH',
 'CURV',
 'CPOP',
 'THCPU',
 'MCAFU',
 'FICVU',
 'GOBI',
 'DRAYU',
 'GGGVU',
 'VSACU',
 'ARCKU',
 'CCTSU',
 'AEAEU',
 'AIP',
 'FLNC',
 'GFS',
 'AIRS',
 'LIAN',
 'DTC',
 'UDMY',
 'HRT',
 'AURA',
 'TRDA',
 'SONX',
 'LVACU',
 'PCCTU',
 'PEGRU',
 'FIACU',
 'SCMAU',
 'BTTX',
 'DMAQU',
 'IOACU',
 'USCTU',
 'OHAAU',
 'CNTX',
 'SMAPU',
 'ENFN',
 'PTLO',
 'SDIG',
 'PX',
 'COCO',
 'ARIS',
 'ENTFU',
 'UTRS',
 'VTYX',
 'GTACU',
 'XLO',
 'NHICU',
 'ENERU',
 'THACU',
 'XFINU',
 'ESACU',
 'WWACU',
 'NCACU',
 'CYN',
 'FOUNU',
 'AVHIU',
 'PEPLU',
 'SANBU',
 'AVDX',
 'GTLB',
 'IHS',
 'LUCD',
 'ROSEU',
 'FNA',
 'INKT',
 'FATPU',
 'CLST',
 'GIACU',
 'JMACU',
 'SAMAU',
 'LTH',
 'THRX',
 'HCTI',
 'CGTX',
 'ISO',
 'PYXXO',
 'VLCN',
 'IXAQU',
 'PCXCU',
 'AVACU',
 'PBAXU',
 ...]

In [5]:
IPO = df.loc[df.StockCode.isin(survivors)]
IPO = IPO.reset_index(drop=True)
IPO.head()

      IPODate                  CompanyName StockCode IPOValue     IPOPrice
0  2019-01-31      New Fortress Energy LLC       NFE   300.0M           15
1  2019-02-28      Super League Gaming Inc      SLGG    27.3M  10.00-12.00
2  2019-02-27      Kaleido Biosciences Inc      KLDO   104.8M  20.00-22.00
3  2019-02-19                      Soliton      SOLY    10.9M            5
4  2019-02-15  Stealth BioTherapeutics Inc      MITO    86.8M  12.00-14.00

In [6]:
# get IPO data from yfinance

tickers = list(IPO.StockCode.values)
start_date = IPO.IPODate.min()
end_date = IPO.IPODate.max()

IPOraw = yf.download(tickers, start_date, end_date)

[*********************100%***********************]  1400 of 1400 completed

348 Failed downloads:
['MKD', 'DCRBU', 'FTVIU', 'GMBTU', 'DTRTU', 'GIIXU', 'VIHAU', 'FRF', 'SVACU', 'WEBR', 'CMLFU', 'MCMJU', 'KSMTU', 'ZY', 'ORPH', 'PTICU', 'YTPG', 'DIDI', 'ATC', 'ACEVU', 'MCG', 'SMIHU', '301053', 'TCVA', 'HCACU', 'TIG', 'LCAPU', 'LJAQ', 'MNRL', 'DNAA', 'SCMAU', 'TZPSU', 'GWACU', 'KVSB', 'LSACU', 'REVEU', 'ASPCU', 'DFPHU', 'LK', 'SVSVU', 'ADGI', 'GRVI', 'CNTQU', 'OG', 'AEHAU', 'GACQU', 'FMTX', 'HOLUU', 'DNAC', 'KVSC', 'ONEM', 'HCAQ', 'VTAQU', 'AMHCU', 'OTRAU', 'MPACU', 'FIIIU', 'AEACU', 'STAO', 'TPTX', 'ZME', 'FHS', 'MAACU', 'DNK', 'RVACU', 'MULG', 'RNERU', 'GRCYU', 'LVGO', 'LHDX', 'SCOAU', 'GGGVU', 'MCFE', 'VEI', 'SPKAU', 'ANCN', 'AERC', 'EPHYU', 'EXPCU', 'HAPP', 'CGROU', 'CIAN', 'NAACU', 'TUFN', 'JIH', 'MITO', 'SOLY', 'LGTOU', 'DRAYU', 'SHCAU', 'BCACU', 'FXCOU', 'CPAQU', 'MWK', 'MNGO', 'GIACU', 'MEIU', 'LUXAU', 'HECCU', 'LAXXU', 'PANA', 'FLLCU', 'GLEEU', 'ABGI', 'GIWWU', 'NHICU', 'VGII', 'MAAQU', 'HLUNA', 'AFACU', 'RACB', 'AGRF', 'PING', 'KNWN', 'DPHCU', 'BLCT', 'MACQU', 'GPCOU', 'NPAUU', 'HCCOU', 'FINM', 'POSH', 'NVACU', 'CHNG', 'APR', 'FSDC', 'TSIAU', 'FTIVU', 'GHIVU', 'DMAQU', 'RUHN', 'GCACU', 'KLAQU', 'ACAMU', 'MRACU', 'HMCOU', 'MOHO', 'SVFB', 'LCYAU', 'PAND', 'PROG', 'GOED', 'ARTAU', 'JFKUU', 'FOREU', 'SAIIU', 'BTAQU', 'CIIGU', 'BLI', 'GRNVU', 'DAOOU', 'BSKYU', 'PONOU', 'MITC', 'BRIN', 'CAHCU', 'NMMCU', 'ISAA', 'JCICU', 'PRVL', 'ISO', 'PSACU', 'CLAQU', 'DGNS', 'SCR', 'CDAK', 'FINMU', 'VOSOU', 'BNIXU', 'GXGXU', 'LEGOU', 'AKUS', 'TUGCU', 'PYXXO', 'HSAQ', 'TXACU', 'BSGAU', 'SIERU', 'PAFOU', 'SANBU', 'CNVY', 'MSACU', 'FTOCU', 'DYNS', 'GOBI', 'PFDRU', 'OCDX', 'PAICU', 'MONCU', 'BTNB', 'JMACU', 'CPARU', 'HYLT', 'TWNI', 'GRAY', 'JBFR', 'ENVIU', 'CSPR', 'TPBAU', 'PTACU', 'AMPI', 'DCRDU', 'CAPAU', 'LAAAU', 'IS', 'MEACU', 'THACU', 'OCBI', 'PROS', 'NOACU', 'FOXWU', 'SLCRU', 'IMRA', 'ARCKU', 'ATAT_OLD', 'FSRVU', 'MDLA', 'PFHC', 'SHQAU', 'VACQU', 'CMLTU', 'RYLT', 'OYST', 'WSG', 'ZNTEU', 'DFNSU', 'LVACU', 'IMAC', 'HIIIU', 'MNCLU', 'SWAGU', 'AMCIU', 'MCAEU', 'NGACU', 'USER', 'RICOU', 'DCT', 'PCXCU', 'BLSA', 'INTM', 'SODR', 'AGGRU', 'LSPRU', 'FRNT', 'GMHIU', 'CHWAU', 'LATNU', 'QELLU', 'GGMC', 'SGFY', 'THCBU', 'ARGUU', 'GBS', 'LIVKU', 'FHL', 'IPAXU', 'CENQU', 'TEKKU', 'MLAIU', 'QK', 'SGAMU', 'SVFAU', 'AHPAU', 'TWCTU', 'WORK', 'VIE', 'HHHH', 'PPD', 'PHICU', 'LIONU', 'NVSAU', 'CMPI', 'INSUU', 'VLATU', 'CRTX', 'BCTG', 'VEMCU', 'GLHAU', 'IQMDU', 'CIICU', 'SPEL', 'PACXU', 'JWACU', 'SVNAU', 'GSAQU', 'BENEU', 'SAQNU', 'CHG', 'BOWXU', 'DBDRU', 'GWIIU', 'GEEXU', 'CINC', 'CRSAU', 'ADOCU', 'SDH', 'SBTX', 'MACUU', 'BRIVU', 'DSACU', 'AYLA', 'HKIB', 'RCHGU', 'BLUWU', 'BCYPU', 'NLITU', 'LVRX', 'FSSIU', 'OSH', 'SVOKU', 'STRN', 'EXPN', 'LWACU', 'TVACU', 'HFEN', 'FLRZ', 'ORIAU', 'EDNCU', 'DCRNU', 'TWCGU', 'RGCB', 'GRSVU', 'IMGO', 'AHACU', 'ROCRU', 'FTPA', 'DNAY', 'KNBE']: Exception('%ticker%: No timezone found, symbol may be delisted')
['DYCU', 'TEAD', 'RMGDU', 'YZCM', 'BTRY', 'MVNR', 'CXAIW', 'YXR', 'LDOC', 'WCGC', 'HCRX', 'AACOU', 'CNAQU']: Exception("%ticker%: Period 'max' is invalid, must be one of ['1d', '5d']")
['DRMT', 'BFL', 'ALTE', 'ASPG', 'SSR']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2019-01-31 -> 2023-06-30)')
['VTMX', 'INTS']: Exception("%ticker%: Data doesn't exist for startDate = 1548910800, endDate = 1688097600")

In [7]:
#sorted(tickers)

In [8]:
IPOdata = IPOraw["Adj Close"].dropna(axis=1, how='all') # drop if all values = NaN
#IPOdata.columns.name = ""
IPOdata.head()

,AACIU,ABCL,ABCM,ABEO,ABNB,ABOS,ABSI,ABST,ACABU,ACACU,...,ZH,ZI,ZIM,ZINGU,ZIP,ZJYL,ZM,ZNTL,ZTAQU,ZVIA
Date,,,,,,,,,,,,,,,,,,,,,
2019-01-31 00:00:00,NaN,NaN,NaN,169.75,NaN,NaN,NaN,5.483645,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-02-01 00:00:00,NaN,NaN,NaN,170.25,NaN,NaN,NaN,5.483645,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-02-04 00:00:00,NaN,NaN,NaN,190.00,NaN,NaN,NaN,5.571808,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-02-05 00:00:00,NaN,NaN,NaN,180.75,NaN,NaN,NaN,5.768542,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-02-06 00:00:00,NaN,NaN,NaN,180.00,NaN,NaN,NaN,5.893172,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
IPOdata.shape

(1111, 1052)

In [10]:
ticker_dic = {}

max_length = IPOdata.shape[0]

for col in IPOdata.columns:
    L = [round(p,4) for p in IPOdata[col].values if str(p) != "nan"]
    
    if len(L) < max_length:
        addition = max_length - len(L)
        L = L + ["ND"]*addition
    
    ticker_dic[col] = L

ticker_dic.keys()

dict_keys(['AACIU', 'ABCL', 'ABCM', 'ABEO', 'ABNB', 'ABOS', 'ABSI', 'ABST', 'ACABU', 'ACACU', 'ACAXU', 'ACBAU', 'ACCD', 'ACHL', 'ACI', 'ACLX', 'ACON', 'ACRV', 'ACT', 'ACVA', 'ACXP', 'ADAG', 'ADPT', 'AEAEU', 'AENT', 'AESI', 'AFARU', 'AFCG', 'AFIB', 'AFRM', 'AFYA', 'AGL', 'AGTI', 'AHRNU', 'AI', 'AIBBU', 'AIH', 'AIMAU', 'AIP', 'AIRS', 'AIXI', 'AKA', 'AKAN', 'AKRO', 'AKYA', 'ALCC', 'ALEC', 'ALF', 'ALGM', 'ALGS', 'ALHC', 'ALKT', 'ALORU', 'ALPAU', 'ALRS', 'ALSAU', 'ALTUU', 'ALVO', 'ALVR', 'ALXO', 'AMAM', 'AMAO', 'AMK', 'AMLX', 'AMPL', 'AMST', 'AMTI', 'AMV', 'AMWL', 'ANEB', 'ANGN', 'ANNX', 'ANPC', 'ANTX', 'ANVS', 'AOGOU', 'AOMR', 'APACU', 'API', 'APLT', 'APMIU', 'APP', 'APRE', 'APTMU', 'APTXU', 'APXIU', 'ARBB', 'ARBGU', 'ARBK', 'ARHS', 'ARIS', 'ARIZU', 'ARQT', 'ARRW', 'ARRY', 'ARTEU', 'ARYE', 'ASAN', 'ASCBU', 'ASO', 'ASPAU', 'ASST', 'ATAI', 'ATAT', 'ATHA', 'ATMU', 'ATMVU', 'AUGX', 'AUR', 'AURA', 'AUST', 'AVACU', 'AVAH', 'AVDR', 'AVDX', 'AVHIU', 'AVIR', 'AVO', 'AVTE', 'AVTR', 'AXLA', 'AZEK', 'AZTR', 'AZYO', 'BASE', 'BBIO', 'BCAB', 'BCEL', 'BCSAU', 'BCYC', 'BDSX', 'BDTX', 'BEAM', 'BEAT', 'BEKE', 'BHACU', 'BHAT', 'BHG', 'BIAF', 'BILL', 'BIOSU', 'BIRD', 'BIVI', 'BJDX', 'BLCO', 'BLEUU', 'BLND', 'BLNGU', 'BLTE', 'BLU', 'BLZE', 'BMBL', 'BMEA', 'BMR', 'BNL', 'BNNRU', 'BNOX', 'BNR', 'BNRG', 'BNTX', 'BOCNU', 'BOF', 'BOLT', 'BON', 'BPACU', 'BPTS', 'BQ', 'BRBR', 'BRDG', 'BRDS', 'BREA', 'BRKHU', 'BRLIU', 'BRLT', 'BROS', 'BRP', 'BRSH', 'BSY', 'BTTX', 'BVS', 'BWCAU', 'BWMN', 'BWV', 'BYND', 'BZ', 'CABA', 'CADL', 'CALT', 'CAN', 'CAVA', 'CBRGU', 'CCAIU', 'CCCC', 'CCTSU', 'CD', 'CDAQU', 'CDRE', 'CERT', 'CFB', 'CFFSU', 'CFLT', 'CFSB', 'CGEM', 'CGTX', 'CHEAU', 'CHPMU', 'CHSN', 'CHWY', 'CINT', 'CITEU', 'CLAYU', 'CLEU', 'CLINU', 'CLOEU', 'CLRCU', 'CLST', 'CMBM', 'CMCAU', 'CMPS', 'CMPX', 'CMTG', 'CNGLU', 'CNM', 'CNSP', 'CNTA', 'CNTB', 'CNTG', 'CNTX', 'COCO', 'COIN', 'COMP', 'COOK', 'COOLU', 'COUR', 'COYA', 'CPAAU', 'CPNG', 'CPOP', 'CRBU', 'CRCT', 'CRDO', 'CRECU', 'CRSR', 'CRWD', 'CSLMU', 'CSTL', 'CTKB', 'CTM', 'CURV', 'CVAC', 'CVKD', 'CVRX', 'CWAN', 'CWD', 'CXM', 'CYN', 'CYT', 'DADA', 'DALS', 'DAO', 'DASH', 'DATS', 'DAWN', 'DBTX', 'DCBO', 'DDL', 'DDOG', 'DECAU', 'DERM', 'DFH', 'DH', 'DIBS', 'DICE', 'DILAU', 'DKDCU', 'DLO', 'DNA', 'DNAB', 'DNAD', 'DNB', 'DNUT', 'DOCN', 'DOCS', 'DOLE', 'DOYU', 'DPCSU', 'DRCT', 'DRMA', 'DRVN', 'DSEY', 'DSGN', 'DSP', 'DT', 'DTC', 'DTIL', 'DUETU', 'DUNEU', 'DUO', 'DUOL', 'DV', 'DWACU', 'DYN', 'EAC', 'EACPU', 'EAR', 'EBET', 'EBON', 'ECBK', 'EDBL', 'EDR', 'EDTK', 'EDTXU', 'EE', 'EH', 'ELEV', 'ELTX', 'ELYM', 'EM', 'EMLDU', 'ENERU', 'ENFN', 'ENLT', 'ENTFU', 'ERAS', 'ERESU', 'ESACU', 'ESHAU', 'ESMT', 'ETNB', 'EVAX', 'EVCM', 'EVGRU', 'EVO', 'EWCZ', 'EWTX', 'EXAI', 'EXFY', 'EZFL', 'FA', 'FATPU', 'FDMT', 'FEMY', 'FGI', 'FHLTU', 'FHTX', 'FIACU', 'FICVU', 'FIGS', 'FIHL', 'FINW', 'FLFVU', 'FLGC', 'FLNC', 'FLYW', 'FNA', 'FNVTU', 'FORG', 'FOUNU', 'FOUR', 'FRBNU', 'FREQ', 'FRLAU', 'FRLN', 'FROG', 'FRSH', 'FRZA', 'FSBC', 'FSLY', 'FTCI', 'FTHM', 'FTIIU', 'FUBO', 'FULC', 'FUSN', 'FVAM', 'FVRR', 'FWAC', 'FWRG', 'FXLV', 'GAMB', 'GANX', 'GATEU', 'GATO', 'GBIO', 'GCT', 'GDEV', 'GDHG', 'GDNRU', 'GDRX', 'GDSTU', 'GDTC', 'GENK', 'GENQU', 'GFGDU', 'GFL', 'GFS', 'GGAAU', 'GHIXU', 'GHRS', 'GLBE', 'GLLIU', 'GLSI', 'GLSTU', 'GLTO', 'GLUE', 'GMFIU', 'GNFT', 'GNLN', 'GNLX', 'GNRSU', 'GNS', 'GNTA', 'GO', 'GOCO', 'GOSS', 'GPCR', 'GRCL', 'GRPH', 'GRTX', 'GSRMU', 'GSUN', 'GTACU', 'GTH', 'GTLB', 'GVCIU', 'GXO', 'HAIAU', 'HARP', 'HAYW', 'HBT', 'HCAT', 'HCMAU', 'HCNEU', 'HCP', 'HCTI', 'HCVIU', 'HEPS', 'HHGCU', 'HILS', 'HIPO', 'HKIT', 'HLTH', 'HLVX', 'HMA', 'HMACU', 'HMPT', 'HNST', 'HNVR', 'HOOD', 'HOOK', 'HOTH', 'HOUR', 'HOWL', 'HPCO', 'HPLTU', 'HRMY', 'HRT', 'HSAI', 'HSCS', 'HSPOU', 'HTCR', 'HUDAU', 'HUDI', 'HUIZ', 'HWELU', 'HYFM', 'HYW', 'IAC', 'IAS', 'IBEX', 'ICG', 'ICVX', 'IDYA', 'IE', 'IFBD', 'IFS', 'IGMS', 'IGTAU', 'IH', 'IHS', 'IINN', 'IKNA', 'IKT', 'ILAG', 'IMAB', 'IMAQU', 'IMCR', 'IMMX', 'IMNM', 'IMPL', 'IMRX', 'INAB', 'INAQU', 'INBX', 'INDO', 'INFA', 'INKT', 'INMD', 'INNV', 'INST', 'INTA', 'INTZ', 'INZY', 'IOACU', 'IOBT', 'IOT', 'IPHA', 'IPSC', 'IPW', 'IREN', 'ISPC', 'ISPR', 'ISRLU', 'ITACU', 'ITAQU', 'ITOS', 'IVA', 'IVCAU', 'IVCBU', 'IVCPU', 'IXAQU', 'IZM', 'JAMF', 'JANX', 'JAQCU', 'JCSE', 'JEWL', 'JFIN', 'JFU', 'JGGCU', 'JMIA', 'JOAN', 'JUGGU', 'JUPW', 'JWEL', 'JYD', 'JZ', 'KACLU', 'KARO', 'KBNT', 'KC', 'KGS', 'KLDO', 'KLTR', 'KNTE', 'KRBP', 'KRKR', 'KRON', 'KROS', 'KRT', 'KRTX', 'KRUS', 'KSCP', 'KTTA', 'KUKE', 'KVSA', 'KVUE', 'KYCHU', 'KYMR', 'LABP', 'LASE', 'LATGU', 'LAW', 'LBBBU', 'LBPH', 'LCFY', 'LDI', 'LEGN', 'LESL', 'LEVI', 'LFACU', 'LFST', 'LGSTU', 'LGVCU', 'LGVN', 'LIAN', 'LIBYU', 'LITM', 'LITTU', 'LIVBU', 'LIZI', 'LMND', 'LMPX', 'LSF', 'LTH', 'LTRN', 'LU', 'LUCD', 'LUCY', 'LUNG', 'LVLU', 'LXEH', 'LYEL', 'LYFT', 'LZ', 'MAIA', 'MARXU', 'MASS', 'MAX', 'MBLY', 'MCAAU', 'MCACU', 'MCAFU', 'MCAGU', 'MCBS', 'MCW', 'MDWT', 'MEC', 'MEG', 'MEGL', 'MEKA', 'MEOAU', 'MF', 'MGAM', 'MGIH', 'MGOL', 'MIRM', 'MIRO', 'MIST', 'MITAU', 'MITQ', 'MLACU', 'MLGO', 'MLNK', 'MLYS', 'MNDY', 'MNPR', 'MNSO', 'MNTK', 'MOB', 'MOBVU', 'MODD', 'MOLN', 'MORF', 'MOVE', 'MPRAU', 'MQ', 'MRM', 'MRVI', 'MSGM', 'MSSAU', 'MTACU', 'MTCR', 'MTEK', 'MTRYU', 'MXCT', 'MYNA', 'MYNZ', 'MYTE', 'NAPA', 'NARI', 'NBTX', 'NCACU', 'NCNO', 'NCPL', 'NEOV', 'NET', 'NEXI', 'NFE', 'NGM', 'NGMS', 'NKTX', 'NNOX', 'NOVA', 'NOVVU', 'NPABU', 'NPCE', 'NRDS', 'NREF', 'NRIX', 'NRSN', 'NSTS', 'NTST', 'NU', 'NUVL', 'NUZE', 'NVST', 'NXGL', 'NXL', 'NXT', 'NXTC', 'NYXH', 'OB', 'OCEA', 'OCFT', 'OCG', 'OHAAU', 'OKYO', 'OLITU', 'OLK', 'OLMA', 'OLO', 'OLPX', 'OM', 'OMGA', 'OMH', 'OMIC', 'ONCR', 'ONEW', 'ONFO', 'ONON', 'ONTF', 'ONYXU', 'OPRT', 'OPT', 'ORCC', 'ORIC', 'OSA', 'OSCR', 'OST', 'OTECU', 'OTLY', 'OXACU', 'OXUSU', 'OZON', 'PAAS', 'PASG', 'PATH', 'PAX', 'PAY', 'PBAXU', 'PCCTU', 'PCOR', 'PCVX', 'PD', 'PECO', 'PEGRU', 'PEPG', 'PEPLU', 'PEV', 'PFTAU', 'PGNY', 'PGRWU', 'PHAR', 'PHAT', 'PHR', 'PHVS', 'PIK', 'PINE', 'PINS', 'PLMR', 'PLRX', 'PLTK', 'PLTNU', 'PLTR', 'PMVP', 'PPHPU', 'PPYAU', 'PRAX', 'PRCT', 'PRET', 'PRFX', 'PRLD', 'PRLHU', 'PRME', 'PRSRU', 'PRVA', 'PSN', 'PSNL', 'PSPC', 'PSTL', 'PSTX', 'PTLO', 'PTON', 'PTVE', 'PTWOU', 'PUBM', 'PWSC', 'PWUPU', 'PX', 'PXMD', 'PYCR', 'PYPD', 'QDEL', 'QH', 'QLI', 'QOMOU', 'QSG', 'RACYU', 'RAIN', 'RANI', 'RAPT', 'RBLX', 'RCACU', 'REAL', 'REFI', 'RELY', 'RENT', 'RERE', 'REYN', 'RFACU', 'RGF', 'RIVN', 'RLAY', 'RLX', 'RLYB', 'RNA', 'RNAZ', 'RNLX', 'RNXT', 'ROCAU', 'ROCGU', 'ROCLU', 'ROOT', 'ROSEU', 'RPHM', 'RPID', 'RPTX', 'RRBI', 'RSKD', 'RTLR', 'RVLV', 'RVMD', 'RVSN', 'RWODU', 'RXDX', 'RXRX', 'RXST', 'RYAN', 'S', 'SAGAU', 'SAMAU', 'SANA', 'SANG', 'SCPL', 'SCPS', 'SCRMU', 'SDC', 'SDGR', 'SDIG', 'SEER', 'SEMR', 'SERA', 'SEV', 'SFWL', 'SG', 'SGHLU', 'SGHT', 'SGIIU', 'SGTX', 'SHC', 'SHLS', 'SHPH', 'SHUAU', 'SI', 'SIDU', 'SILK', 'SITM', 'SKWD', 'SKYAU', 'SKYT', 'SKYX', 'SLGG', 'SLQT', 'SLRN', 'SLVRU', 'SMAPU', 'SMWB', 'SNAL', 'SNCY', 'SNDL', 'SNOW', 'SNPO', 'SNSE', 'SNTG', 'SONM', 'SONX', 'SOPH', 'SOVO', 'SPCMU', 'SPFI', 'SPRB', 'SPT', 'SQFT', 'SQL', 'SQSP', 'SQZ', 'SRACU', 'SRAD', 'SSBK', 'SSIC', 'STEP', 'STER', 'STOK', 'STSA', 'STSS', 'STTK', 'STVN', 'SUMO', 'SVII', 'SVRE', 'SVV', 'SWAV', 'SWIM', 'SWSSU', 'SWTX', 'SY', 'SYT', 'SYTA', 'SZZLU', 'TALS', 'TARS', 'TASK', 'TCBX', 'TCJH', 'TCRR', 'TCRX', 'TDCX', 'TDUP', 'TELA', 'TERN', 'TETEU', 'TFFP', 'TFII', 'TGAAU', 'TGL', 'TGVCU', 'THCPU', 'THRD', 'THRN', 'THRX', 'TIGR', 'TIL', 'TIRX', 'TIVC', 'TIXT', 'TKNO', 'TLGYU', 'TLIS', 'TLS', 'TMCI', 'TMDX', 'TMKRU', 'TNON', 'TNYA', 'TOACU', 'TOI', 'TOP', 'TOST', 'TPET', 'TPG', 'TRDA', 'TRKA', 'TRMR', 'TRNR', 'TRONU', 'TRVI', 'TSHA', 'TSP', 'TUYA', 'TW', 'TWCBU', 'TWKS', 'TXG', 'TYRA', 'U', 'UBER', 'UCAR', 'UCL', 'UDMY', 'UNCY', 'UPC', 'UPST', 'UPTDU', 'USCTU', 'USGO', 'UTAAU', 'UTME', 'UTRS', 'VACC', 'VALN', 'VAXX', 'VBOCU', 'VCIG', 'VCXAU', 'VECT', 'VEDU', 'VEEE', 'VEL', 'VERA', 'VERV', 'VERX', 'VHNAU', 'VIAO', 'VIGL', 'VINE', 'VINP', 'VIR', 'VIRI', 'VIST', 'VITL', 'VLCN', 'VMCAU', 'VMGAU', 'VOR', 'VRAR', 'VRAX', 'VRM', 'VSACU', 'VTEX', 'VTRU', 'VTYX', 'VVOS', 'VZIO', 'WAVSU', 'WDH', 'WEAV', 'WIMI', 'WINVU', 'WISH', 'WKME', 'WLDS', 'WLGS', 'WMG', 'WNW', 'WOOF', 'WRBY', 'WTMAU', 'WWACU', 'XFINU', 'XGN', 'XLO', 'XM', 'XMTR', 'XP', 'XPAXU', 'XPDBU', 'XPEV', 'XPOF', 'YALA', 'YAYO', 'YGF', 'YGMZ', 'YJ', 'YMM', 'YOSH', 'YOTAU', 'YOU', 'YQ', 'YSG', 'ZENV', 'ZETA', 'ZH', 'ZI', 'ZIM', 'ZINGU', 'ZIP', 'ZJYL', 'ZM', 'ZNTL', 'ZTAQU', 'ZVIA'])

In [11]:
ticker_dic["AMPL"][-10:]

['ND', 'ND', 'ND', 'ND', 'ND', 'ND', 'ND', 'ND', 'ND', 'ND']

In [12]:
master = pd.DataFrame(ticker_dic).T
master.head()

,0,1,2,3,4,5,6,7,8,9,...,1101,1102,1103,1104,1105,1106,1107,1108,1109,1110
AACIU,9.8,9.79,9.79,9.82,9.83,9.82,9.81,9.85,9.92,9.92,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
ABCL,58.9,50.01,46.99,47.53,48.6,49.22,45.3,47.12,43.26,42.42,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
ABCM,19.75,18.9,19.4,19.46,19.11,19.12,19.0,19.95,20.01,20.37,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
ABEO,169.75,170.25,190.0,180.75,180.0,165.5,163.25,167.5,167.0,164.75,...,4.49,4.5,4.55,4.83,5.27,4.97,4.75,4.67,4.37,4.05
ABNB,144.71,139.25,130.0,124.8,137.99,147.05,157.3,163.02,163.19,158.01,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND

In [13]:
performance_dic = {"ticker":[],
                   "start_price":[],
                   "x1.5_price":[],
                   "x1.5_days":[],
                   "x2_price":[],
                   "x2_days":[],
                   "x3_price":[],
                   "x3_days":[],
                   "max_price":[],
                   "max_ratio":[],
                   "max_days":[],
                  }


for index in master.index:
    start = master.at[index,0]
    
    prices = ticker_dic[index]
    
    m15 = ("DNE","DNE")
    m2 = ("DNE","DNE")
    m3 = ("DNE","DNE")
    
    mm = (0,"DNE")
    
    for i in range(max_length):
        if prices[i] == "ND":
            break
        else:
            if prices[i] >= mm[0]:
                mm = (prices[i], i)    
        
            if prices[i] >= start*3:
                if m3[0] == "DNE":
                    m3 = (prices[i], i)
                    
            if prices[i] >= start*2:
                if m2[0] == "DNE":
                    m2 = (prices[i], i)
                    
            if prices[i] >= start*1.5:
                if m15[0] == "DNE":
                    m15 = (prices[i], i) 
       
    performance_dic["ticker"].append(index)
    performance_dic["start_price"].append(start)
    
    performance_dic["x1.5_price"].append(m15[0])    
    performance_dic["x1.5_days"].append(m15[1])

    performance_dic["x2_price"].append(m2[0])    
    performance_dic["x2_days"].append(m2[1])

    performance_dic["x3_price"].append(m3[0])
    performance_dic["x3_days"].append(m3[1])

    performance_dic["max_days"].append(mm[0])
    performance_dic["max_ratio"].append(mm[1]/start)
    performance_dic["max_price"].append(mm[1])

In [14]:
performance = pd.DataFrame(performance_dic)
performance.tail()

,ticker,start_price,x1.5_price,x1.5_days,x2_price,x2_days,x3_price,x3_days,max_price,max_ratio,max_days
1047,ZJYL,7.95,13.2,52,DNE,DNE,DNE,DNE,52,6.540881,13.200
1048,ZM,62.00,94.05,34,125.0,221,204.15,281,379,6.112903,568.340
1049,ZNTL,23.20,35.57,16,52.22,38,69.72,360,400,17.241379,84.790
1050,ZTAQU,10.05,DNE,DNE,DNE,DNE,DNE,DNE,488,48.557214,10.715
1051,ZVIA,13.65,DNE,DNE,DNE,DNE,DNE,DNE,31,2.271062,16.910

In [15]:
performance[performance["x1.5_price"] != "DNE"]

,ticker,start_price,x1.5_price,x1.5_days,x2_price,x2_days,x3_price,x3_days,max_price,max_ratio,max_days
7,ABST,5.4836,8.3677,329,11.0234,378,DNE,DNE,512,93.369319,15.3139
12,ACCD,0.5500,29.7,1,29.7,1,29.7,1,113,205.454545,59.7200
14,ACI,10.9634,16.9793,277,22.0389,297,DNE,DNE,364,33.201379,26.8277
15,ACLX,16.8000,28.02,213,33.94,245,DNE,DNE,316,18.809524,46.8950
22,ADPT,40.3000,62.35,375,DNE,DNE,DNE,DNE,396,9.826303,67.7400
...,...,...,...,...,...,...,...,...,...,...,...
1044,ZIM,4.6940,7.1145,9,9.5309,29,14.6453,63,289,61.567959,43.0125
1046,ZIP,21.1000,32.15,121,DNE,DNE,DNE,DNE,121,5.734597,32.1500
1047,ZJYL,7.9500,13.2,52,DNE,DNE,DNE,DNE,52,6.540881,13.2000
1048,ZM,62.0000,94.05,34,125.0,221,204.15,281,379,6.112903,568.3400
1049,ZNTL,23.2000,35.57,16,52.22,38,69.72,360,400,17.241379,84.7900

In [16]:
performance[performance["x1.5_price"] != "DNE"]["x1.5_price"].mean()

51.59677669376694

In [17]:
performance[performance["x1.5_price"] != "DNE"]["x1.5_days"].mean()

115.92140921409214

In [18]:
performance[performance["x2_price"] != "DNE"]

,ticker,start_price,x1.5_price,x1.5_days,x2_price,x2_days,x3_price,x3_days,max_price,max_ratio,max_days
7,ABST,5.4836,8.3677,329,11.0234,378,DNE,DNE,512,93.369319,15.3139
12,ACCD,0.5500,29.7,1,29.7,1,29.7,1,113,205.454545,59.7200
14,ACI,10.9634,16.9793,277,22.0389,297,DNE,DNE,364,33.201379,26.8277
15,ACLX,16.8000,28.02,213,33.94,245,DNE,DNE,316,18.809524,46.8950
43,AKRO,18.3200,28.01,33,37.06,263,55.34,1001,1002,54.694323,56.8800
...,...,...,...,...,...,...,...,...,...,...,...
1032,YGMZ,4.2500,17.5,40,17.5,40,17.5,40,68,16.000000,35.3400
1043,ZI,34.0000,51.22,6,68.17,324,DNE,DNE,369,10.852941,77.3500
1044,ZIM,4.6940,7.1145,9,9.5309,29,14.6453,63,289,61.567959,43.0125
1048,ZM,62.0000,94.05,34,125.0,221,204.15,281,379,6.112903,568.3400
1049,ZNTL,23.2000,35.57,16,52.22,38,69.72,360,400,17.241379,84.7900

In [19]:
performance[performance["x2_price"] != "DNE"]["x2_price"].mean()

65.61497429906542

In [20]:
performance[performance["x2_price"] != "DNE"]["x2_days"].mean()

169.5981308411215

In [21]:
performance[performance["x3_price"] != "DNE"]

,ticker,start_price,x1.5_price,x1.5_days,x2_price,x2_days,x3_price,x3_days,max_price,max_ratio,max_days
12,ACCD,0.550,29.7,1,29.7,1,29.7,1,113,205.454545,59.7200
43,AKRO,18.320,28.01,33,37.06,263,55.34,1001,1002,54.694323,56.8800
59,ALXO,30.000,45.44,20,65.58,86,112.26,102,102,3.400000,112.2600
66,AMTI,17.980,27.18,6,37.03,156,56.22,176,195,10.845384,74.1400
74,ANVS,9.590,16.6,255,19.56,257,28.82,267,366,38.164755,120.9700
...,...,...,...,...,...,...,...,...,...,...,...
1029,YALA,7.000,11.53,28,15.41,42,24.64,79,92,13.142857,40.6200
1032,YGMZ,4.250,17.5,40,17.5,40,17.5,40,68,16.000000,35.3400
1044,ZIM,4.694,7.1145,9,9.5309,29,14.6453,63,289,61.567959,43.0125
1048,ZM,62.000,94.05,34,125.0,221,204.15,281,379,6.112903,568.3400
1049,ZNTL,23.200,35.57,16,52.22,38,69.72,360,400,17.241379,84.7900

In [22]:
performance[performance["x3_price"] != "DNE"]["x3_price"].mean()

78.97880341880342

In [23]:
performance[performance["x3_price"] != "DNE"]["x3_days"].mean()

216.64957264957266

In [24]:
performance.max_ratio.median(), performance.max_days.median(), performance.max_price.median()

(4.343802591131311, 23.424999999999997, 76.0)

In [25]:
performance.max_ratio.mean(), performance.max_days.mean(), performance.max_price.mean()

(15.510635969087161, 55.96192566539924, 173.6777566539924)