# Create IPO Master Table

In [1]:
#import library

import yfinance as yf
import pandas as pd, numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("IPO/ipo_calendar.csv")
df.head()

      IPODate               CompanyName StockCode IPOValue     IPOPrice
0  2019-01-31   New Fortress Energy LLC       NFE   300.0M           15
1  2019-01-31  Pivotal Acquisition Corp     PVT_u   200.0M           10
2  2019-02-28   Super League Gaming Inc      SLGG    27.3M  10.00-12.00
3  2019-02-28      Tortoise Acquisition    SHLL_u   225.0M           10
4  2019-02-27   Kaleido Biosciences Inc      KLDO   104.8M  20.00-22.00

In [3]:
df[df.StockCode.isna()]

         IPODate    CompanyName StockCode IPOValue IPOPrice
1488  2022-07-12  Nano Labs Ltd       NaN    20.4M     11.5

In [4]:
survivors = []

for code in list(df.StockCode.values):
    if type(code) == str:
        if code[-1] != "u":
            survivors.append(code)
            
    # Nano Labs -> NA        
    else:
        # only for Nano Labs
        survivors.append("NA")

survivors[:10]

['NFE', 'SLGG', 'KLDO', 'SOLY', 'MITO', 'HOTH', 'TCRR', 'AVDR', 'ANCN', 'BFL']

In [5]:
IPO = df.loc[df.StockCode.isin(survivors)]
IPO = IPO.reset_index(drop=True)
IPO.head()

      IPODate                  CompanyName StockCode IPOValue     IPOPrice
0  2019-01-31      New Fortress Energy LLC       NFE   300.0M           15
1  2019-02-28      Super League Gaming Inc      SLGG    27.3M  10.00-12.00
2  2019-02-27      Kaleido Biosciences Inc      KLDO   104.8M  20.00-22.00
3  2019-02-19                      Soliton      SOLY    10.9M            5
4  2019-02-15  Stealth BioTherapeutics Inc      MITO    86.8M  12.00-14.00

In [6]:
# get IPO data from yfinance

tickers = list(IPO.StockCode.values)
start_date = IPO.IPODate.min()
end_date = IPO.IPODate.max()

IPOraw = yf.download(tickers, start_date, end_date)

[*********************100%***********************]  1400 of 1400 completed

348 Failed downloads:

['INTM', 'MACQU', 'SPEL', 'HLUNA', 'PONOU', 'GRNVU', 'MNCLU', 'CGROU', 'MCMJU', 'CHWAU', 'ROCRU', 'AEACU', 'MAACU', 'JWACU', 'SPKAU', 'JMACU', 'GWACU', 'MLAIU', 'QK', 'LIONU', 'GHIVU', 'AMPI', 'ISO', 'NGACU', 'IMGO', 'ADOCU', 'ISAA', 'GIACU', 'PYXXO', 'PPD', 'DCRDU', 'KLAQU', 'BENEU', 'VLATU', 'OCBI', 'BLSA', 'ARTAU', 'DGNS', 'ZY', 'PROS', 'SAQNU', 'SMIHU', 'MEIU', 'CNTQU', 'CPARU', 'GACQU', 'NLITU', 'TSIAU', 'MULG', 'YTPG', 'LHDX', 'SDH', 'TWNI', 'BLCT', 'RVACU', 'ZNTEU', 'HCAQ', 'IMAC', 'KVSB', 'PROG', 'IMRA', 'NMMCU', 'AGGRU', 'GMHIU', 'OYST', 'FXCOU', 'BSGAU', 'MONCU', 'RCHGU', 'TVACU', 'TCVA', 'VIE', 'CINC', 'WEBR', 'OCDX', 'GSAQU', 'TPTX', 'FTIVU', 'MWK', 'SVACU', 'TZPSU', 'CPAQU', 'VACQU', 'MAAQU', 'QELLU', 'LGTOU', 'MCFE', 'KNBE', 'SWAGU', 'GWIIU', 'PING', 'VIHAU', 'MPACU', 'DNAY', 'HHHH', 'MNGO', 'CRTX', 'SGAMU', 'IS', 'GIIXU', 'APR', 'BOWXU', 'SODR', 'DFNSU', 'AGRF', 'GPCOU', 'GGMC', 'CNVY', 'DYNS', 'MNRL', 'ARGUU', 'FSRVU', 'LSACU', 'DNAA', 'SGFY', 'VGII', 'PRVL', 'SCMAU', 'RACB', 'ABGI', 'FRNT', 'BTNB', 'DAOOU', 'FTVIU', 'BNIXU', 'SCOAU', 'PSACU', 'BRIN', 'PAFOU', 'TXACU', 'BTAQU', 'AKUS', 'LAAAU', 'MOHO', 'USER', 'GIWWU', 'CIAN', 'REVEU', 'PTICU', 'FINM', 'SCR', 'EPHYU', 'MKD', 'ANCN', 'CIIGU', 'PFDRU', 'LWACU', 'NOACU', 'PFHC', 'GRSVU', 'AMHCU', 'POSH', 'CAHCU', 'HKIB', 'PAND', 'HMCOU', 'DRAYU', 'ZME', 'AFACU', 'KSMTU', 'CRSAU', 'SOLY', 'TUFN', 'ARCKU', 'GLHAU', 'MITC', 'SHCAU', 'CHG', 'OSH', 'ORIAU', 'HYLT', 'DPHCU', 'NHICU', 'KNWN', '301053', 'FLRZ', 'SLCRU', 'VEMCU', 'FMTX', 'BCYPU', 'GGGVU', 'STAO', 'HIIIU', 'AHPAU', 'SAIIU', 'DSACU', 'LSPRU', 'SVFAU', 'CSPR', 'ACAMU', 'BCTG', 'CENQU', 'AEHAU', 'PHICU', 'ACEVU', 'DFPHU', 'AYLA', 'INSUU', 'DBDRU', 'LVACU', 'JFKUU', 'DCRNU', 'SBTX', 'NVACU', 'PAICU', 'GRCYU', 'JBFR', 'DTRTU', 'GXGXU', 'PTACU', 'DCT', 'THACU', 'CAPAU', 'OG', 'ORPH', 'ASPCU', 'TUGCU', 'THCBU', 'WSG', 'FTOCU', 'GOBI', 'SHQAU', 'HSAQ', 'FINMU', 'RUHN', 'TWCTU', 'OTRAU', 'MCAEU', 'AERC', 'FOXWU', 'MSACU', 'LATNU', 'MRACU', 'LAXXU', 'VTAQU', 'HFEN', 'ATAT_OLD', 'CHNG', 'LEGOU', 'GRAY', 'AHACU', 'TWCGU', 'MDLA', 'JCICU', 'GLEEU', 'IQMDU', 'MCG', 'PANA', 'EXPCU', 'KVSC', 'FSSIU', 'ATC', 'HCCOU', 'BLUWU', 'RNERU', 'FHS', 'SVSVU', 'RYLT', 'RGCB', 'AMCIU', 'MITO', 'DCRBU', 'HOLUU', 'FOREU', 'LCYAU', 'GBS', 'BCACU', 'FSDC', 'FIIIU', 'VOSOU', 'STRN', 'LCAPU', 'FLLCU', 'BRIVU', 'CDAK', 'PACXU', 'MEACU', 'FTPA', 'LUXAU', 'NAACU', 'SVOKU', 'CLAQU', 'GCACU', 'SIERU', 'HECCU', 'CIICU', 'VEI', 'ENVIU', 'ADGI', 'TPBAU', 'DNK', 'IPAXU', 'LJAQ', 'LIVKU', 'ONEM', 'LVRX', 'BLI', 'GEEXU', 'PCXCU', 'FRF', 'CMPI', 'JIH', 'LVGO', 'GOED', 'EXPN', 'NVSAU', 'DIDI', 'EDNCU', 'HAPP', 'SANBU', 'NPAUU', 'RICOU', 'DNAC', 'HCACU', 'GRVI', 'GMBTU', 'SVNAU', 'LK', 'DMAQU', 'SVFB', 'FHL', 'MACUU', 'TEKKU', 'TIG', 'BSKYU', 'CMLTU', 'WORK', 'CMLFU']: Exception('%ticker%: No timezone found, symbol may be delisted')
['RMGDU', 'WCGC', 'CNAQU', 'HCRX', 'CXAIW', 'TEAD', 'LDOC', 'YZCM', 'AACOU', 'YXR', 'MVNR', 'BTRY', 'DYCU']: Exception("%ticker%: Period 'max' is invalid, must be one of ['1d', '5d']")
['INTS', 'VTMX']: Exception("%ticker%: Data doesn't exist for startDate = 1548910800, endDate = 1688097600")
['BFL', 'ALTE', 'DRMT', 'SSR', 'ASPG']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2019-01-31 -> 2023-06-30)')

In [7]:
#sorted(tickers)

In [8]:
IPOdata = IPOraw["Adj Close"].dropna(axis=1, how='all') # drop if all values = NaN
#IPOdata.columns.name = ""
IPOdata.head()

,AACIU,ABCL,ABCM,ABEO,ABNB,ABOS,ABSI,ABST,ACABU,ACACU,...,ZH,ZI,ZIM,ZINGU,ZIP,ZJYL,ZM,ZNTL,ZTAQU,ZVIA
Date,,,,,,,,,,,,,,,,,,,,,
2019-01-31 00:00:00,NaN,NaN,NaN,169.75,NaN,NaN,NaN,5.797345,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-02-01 00:00:00,NaN,NaN,NaN,170.25,NaN,NaN,NaN,5.797345,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-02-04 00:00:00,NaN,NaN,NaN,190.00,NaN,NaN,NaN,5.890550,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-02-05 00:00:00,NaN,NaN,NaN,180.75,NaN,NaN,NaN,6.098540,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-02-06 00:00:00,NaN,NaN,NaN,180.00,NaN,NaN,NaN,6.230299,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
IPOdata.shape

(1111, 1052)

In [10]:
ticker_dic = {}

max_length = IPOdata.shape[0]

for col in IPOdata.columns:
    L = [round(p,4) for p in IPOdata[col].values if str(p) != "nan"]
    
    if len(L) < max_length:
        addition = max_length - len(L)
        L = L + ["ND"]*addition
    
    ticker_dic[col] = L

list(ticker_dic.keys())[:10]

['AACIU',
 'ABCL',
 'ABCM',
 'ABEO',
 'ABNB',
 'ABOS',
 'ABSI',
 'ABST',
 'ACABU',
 'ACACU']

In [11]:
ticker_dic["AMPL"][-10:]

['ND', 'ND', 'ND', 'ND', 'ND', 'ND', 'ND', 'ND', 'ND', 'ND']

In [12]:
master = pd.DataFrame(ticker_dic).T
master.head()

,0,1,2,3,4,5,6,7,8,9,...,1101,1102,1103,1104,1105,1106,1107,1108,1109,1110
AACIU,9.8,9.79,9.79,9.82,9.83,9.82,9.81,9.85,9.92,9.92,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
ABCL,58.9,50.01,46.99,47.53,48.6,49.22,45.3,47.12,43.26,42.42,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
ABCM,19.75,18.9,19.4,19.46,19.11,19.12,19.0,19.95,20.01,20.37,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
ABEO,169.75,170.25,190.0,180.75,180.0,165.5,163.25,167.5,167.0,164.75,...,4.49,4.5,4.55,4.83,5.27,4.97,4.75,4.67,4.37,4.05
ABNB,144.71,139.25,130.0,124.8,137.99,147.05,157.3,163.02,163.19,158.01,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND

In [13]:
performance_dic = {"ticker":[],
                   "start_price":[],
                   "x1.5_price":[],
                   "x1.5_days":[],
                   "x2_price":[],
                   "x2_days":[],
                   "x3_price":[],
                   "x3_days":[],
                   "max_price":[],
                   "max_ratio":[],
                   "max_days":[],
                  }


for index in master.index:
    start = master.at[index,0]
    
    prices = ticker_dic[index]
    
    m15 = ("DNE","DNE")
    m2 = ("DNE","DNE")
    m3 = ("DNE","DNE")
    
    mm = (0,"DNE")
    
    for i in range(max_length):
        if prices[i] == "ND":
            break
        else:
            if prices[i] >= mm[0]:
                mm = (prices[i], i)    
        
            if prices[i] >= start*3:
                if m3[0] == "DNE":
                    m3 = (prices[i], i)
                    
            if prices[i] >= start*2:
                if m2[0] == "DNE":
                    m2 = (prices[i], i)
                    
            if prices[i] >= start*1.5:
                if m15[0] == "DNE":
                    m15 = (prices[i], i) 
       
    performance_dic["ticker"].append(index)
    performance_dic["start_price"].append(start)
    
    performance_dic["x1.5_price"].append(m15[0])    
    performance_dic["x1.5_days"].append(m15[1])

    performance_dic["x2_price"].append(m2[0])    
    performance_dic["x2_days"].append(m2[1])

    performance_dic["x3_price"].append(m3[0])
    performance_dic["x3_days"].append(m3[1])

    performance_dic["max_days"].append(mm[0])
    performance_dic["max_ratio"].append(mm[1]/start)
    performance_dic["max_price"].append(mm[1])

In [14]:
performance = pd.DataFrame(performance_dic)
performance.tail()

,ticker,start_price,x1.5_price,x1.5_days,x2_price,x2_days,x3_price,x3_days,max_price,max_ratio,max_days
1047,ZJYL,7.95,13.2,52,DNE,DNE,DNE,DNE,52,6.540881,13.200
1048,ZM,62.00,94.05,34,125.0,221,204.15,281,379,6.112903,568.340
1049,ZNTL,23.20,35.57,16,52.22,38,69.72,360,400,17.241379,84.790
1050,ZTAQU,10.05,DNE,DNE,DNE,DNE,DNE,DNE,488,48.557214,10.715
1051,ZVIA,13.65,DNE,DNE,DNE,DNE,DNE,DNE,31,2.271062,16.910

In [15]:
performance[performance["x1.5_price"] != "DNE"]

,ticker,start_price,x1.5_price,x1.5_days,x2_price,x2_days,x3_price,x3_days,max_price,max_ratio,max_days
7,ABST,5.7973,8.8464,329,11.654,378,DNE,DNE,512,88.316975,16.190
12,ACCD,0.5500,29.7,1,29.7,1,29.7,1,113,205.454545,59.720
14,ACI,15.1895,23.39,277,33.08,299,DNE,DNE,364,23.963922,36.810
15,ACLX,16.8000,28.02,213,33.94,245,DNE,DNE,316,18.809524,46.895
22,ADPT,40.3000,62.35,375,DNE,DNE,DNE,DNE,396,9.826303,67.740
...,...,...,...,...,...,...,...,...,...,...,...
1044,ZIM,11.5000,17.43,9,23.35,29,35.88,63,285,24.782609,88.620
1046,ZIP,21.1000,32.15,121,DNE,DNE,DNE,DNE,121,5.734597,32.150
1047,ZJYL,7.9500,13.2,52,DNE,DNE,DNE,DNE,52,6.540881,13.200
1048,ZM,62.0000,94.05,34,125.0,221,204.15,281,379,6.112903,568.340
1049,ZNTL,23.2000,35.57,16,52.22,38,69.72,360,400,17.241379,84.790

In [16]:
performance[performance["x1.5_price"] != "DNE"]["x1.5_price"].mean()

51.688089159891604

In [17]:
performance[performance["x1.5_price"] != "DNE"]["x1.5_days"].mean()

116.14363143631437

In [18]:
performance[performance["x2_price"] != "DNE"]

,ticker,start_price,x1.5_price,x1.5_days,x2_price,x2_days,x3_price,x3_days,max_price,max_ratio,max_days
7,ABST,5.7973,8.8464,329,11.654,378,DNE,DNE,512,88.316975,16.190
12,ACCD,0.5500,29.7,1,29.7,1,29.7,1,113,205.454545,59.720
14,ACI,15.1895,23.39,277,33.08,299,DNE,DNE,364,23.963922,36.810
15,ACLX,16.8000,28.02,213,33.94,245,DNE,DNE,316,18.809524,46.895
43,AKRO,18.3200,28.01,33,37.06,263,55.34,1001,1002,54.694323,56.880
...,...,...,...,...,...,...,...,...,...,...,...
1032,YGMZ,4.2500,17.5,40,17.5,40,17.5,40,68,16.000000,35.340
1043,ZI,34.0000,51.22,6,68.17,324,DNE,DNE,369,10.852941,77.350
1044,ZIM,11.5000,17.43,9,23.35,29,35.88,63,285,24.782609,88.620
1048,ZM,62.0000,94.05,34,125.0,221,204.15,281,379,6.112903,568.340
1049,ZNTL,23.2000,35.57,16,52.22,38,69.72,360,400,17.241379,84.790

In [19]:
performance[performance["x2_price"] != "DNE"]["x2_price"].mean()

65.91889436619718

In [20]:
performance[performance["x2_price"] != "DNE"]["x2_days"].mean()

169.23474178403757

In [21]:
performance[performance["x3_price"] != "DNE"]

,ticker,start_price,x1.5_price,x1.5_days,x2_price,x2_days,x3_price,x3_days,max_price,max_ratio,max_days
12,ACCD,0.55,29.7,1,29.7,1,29.7,1,113,205.454545,59.72
43,AKRO,18.32,28.01,33,37.06,263,55.34,1001,1002,54.694323,56.88
59,ALXO,30.00,45.44,20,65.58,86,112.26,102,102,3.400000,112.26
66,AMTI,17.98,27.18,6,37.03,156,56.22,176,195,10.845384,74.14
74,ANVS,9.59,16.6,255,19.56,257,28.82,267,366,38.164755,120.97
...,...,...,...,...,...,...,...,...,...,...,...
1029,YALA,7.00,11.53,28,15.41,42,24.64,79,92,13.142857,40.62
1032,YGMZ,4.25,17.5,40,17.5,40,17.5,40,68,16.000000,35.34
1044,ZIM,11.50,17.43,9,23.35,29,35.88,63,285,24.782609,88.62
1048,ZM,62.00,94.05,34,125.0,221,204.15,281,379,6.112903,568.34
1049,ZNTL,23.20,35.57,16,52.22,38,69.72,360,400,17.241379,84.79

In [22]:
performance[performance["x3_price"] != "DNE"]["x3_price"].mean()

79.16527777777777

In [23]:
performance[performance["x3_price"] != "DNE"]["x3_days"].mean()

216.64957264957266

In [24]:
performance.max_ratio.median(), performance.max_days.median(), performance.max_price.median()

(4.343802591131311, 23.66, 76.0)

In [25]:
performance.max_ratio.mean(), performance.max_days.mean(), performance.max_price.mean()

(15.424346190578955, 56.06296967680608, 173.4819391634981)